body{
    background-color: white;
    margin: 0;
    font-size: 13px;
    
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
   }
   a:link{
    text-decoration: none;
   }
   .more-info{
    text-align: center;
   }
   .more-info b{
    margin-left: 22px;
    color: mediumseagreen;
   }
   .more-info b i{
    color: mediumseagreen;
    font-size: 18px;
   }
   .more-info i{
   margin-left: 10px;
   color: yellow;
   font-size: 22px;
   }

   .order-container{
color: #777;
    margin-bottom: 18px;
    margin-top: 0;
   }
   .order-container img{
    width: 152px;
   }
   .order-container p:nth-child(1){
    padding: 8px 8px;
    font-size: 15px;
    background-color: rgb(0,102,153);
    color: white;
    text-align: center;
   margin-top: 0;
    margin-left: 0;
   }
   .order-container p{
    margin-left: 10px;
   }

   .View-more{
    padding: 10px 10px;
    width: 42%;
    color: white;
    background-color: rgb(0,102,153);
    border-radius: 2rem;
    margin: auto;
    margin-top: 30px;
    margin-right: 6px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    float: right;
   }
   
   .View-more a:link{
    color: white;
    text-decoration: none;
   }
   .View-more a:visited{
    color: white;
   }
   .close-order{
    padding: 5px 5px;
    background-color: #f1f1f1;
    color: #777;
    text-align: center;
   }
   p{
    color: #777;
   }
   
input[type=submit]{
    cursor: pointer;
    padding: 10px 10px;
    width: 60%;
    margin: auto;
    background-color: rgb(0,102,153);
    color: white;
    border: none;
border-radius: 2rem;
}
select{
    padding: 10px 10px;
    width: 60%;
    margin: auto;
    border: 2px solid #ccc;
    outline: 0;
border-radius: 2rem;
font-size: 18px;
}
