
body{
    background-color: white;
    margin: 0;
    font-size: 13px;   
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
     }
     
     .more-info{
      text-align: center;
     }
     .more-info b{
      margin-left: 22px;
      color: mediumseagreen;
     }
     .more-info b i{
      color: mediumseagreen;
      font-size: 18px;
     }
     .more-info i{
     margin-left: 10px;
     color: rgb(0,102,100);
     font-size: 22px;
     }
  
     .order-container{
  color: #777;
      margin-bottom: 18px;
      margin-top: 0;
     }
     .order-container img{
      width: 152px;
      height: 152px;
     }
     .order-container p:nth-child(1){
      padding: 5px 5px;
      font-size: 15px;
      background-color:rgb(0,102,100);
      color: white;
      text-align: center;
     margin-top: 0;
      margin-left: 0;
     }
     .order-container p{
      margin-left: 10px;
     }
  
  .container-fliud{
  background-color: #ccc;
  color: #777;
  overflow-y: scroll;
top: 30%;
  padding-bottom: 4px;
  position: sticky;
  top: 0;
  bottom: 0;
  }
     
     .close-page a:link{
      color: white;
      text-decoration: none;
     }
     .close-page a:visited{
      color: white;
     }
  
     
  
  .open-transaction-pin{
    padding: 8px 8px;
    margin: auto;
    cursor: pointer;
    color: white;
    background-color: rgb(0,102,100);
    border-radius: 2rem;
    width: 60%;
    text-align: center;
    
  }
  @media screen and (min-width: 600px){
    .open-transaction-pin{
      width: 30%;
    }
  }
  
  .transaction-pin-overlay{
    transition: 0.2s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow-y: hidden;
  position: fixed;
  background-color: #ccc;
  color: #666;
  text-align: center;
  }
  
  .transaction-pin-overlay input[type=number],select,textarea{
    padding: 10px 10px;
    border: 2px solid #ccc;
    outline: 0;
    width: 60%;
    font-size: 18px;
    border-radius: 2rem;
    margin: auto;
  }
  .transaction-pin-overlay input[type=submit]{
  font-size: 15px;
  background-color: rgb(0,102,100);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  margin: auto;
  width: 68%;
    padding: 8px 8px;
  }
  #close-pin-btn{
    text-align: center;
    margin: auto;
    display: block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgb(0,102,100);
    color: white;
    font-size: 22px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 600px){
    .transaction-pin-overlay input[type=number],select,textarea{
      font-size: 13px;
      width: 40%;
    }
    .transaction-pin-overlay input[type=submit]{
      width: 30%;
  
    }
  }