body{
  background-color: white;
  margin: 0;
  font-size: 13px;   
font-family: 'Poppins', sans-serif;
font-weight: lighter;
  }
 .search-container{
  text-align: center;
 }
 .search-container input[type=search]{
  padding: 8px 8px;
  border: 2px solid #ccc;
  font-size: 18px;
  margin: auto;
  border-radius: 2rem;
  width: 95%;
  outline: 0;
 }
 .search-container input[type=submit]{
  padding: 8px 8px;
  color: white;
  background-color: rgb(0,102,100);
  border: none;
  border-radius: 2rem;
  font-size: 15px;
  margin: auto;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
 }
 
 @media screen and (min-width: 600px){
  .search-container input[type=search]{
    font-size: 13px;
    width: 50%;
  }
  .search-container input[type=submit]{
    width: 35%;
  }
 }
  .form-container-box{
    display: block;
    text-align: center;
    background-color: white;
    box-shadow:0px 16px 8px 0px rgba(0,0,0,0.4);
    padding: 5px 5px;
  width: 100%;
  margin: auto;
  }
  @media screen and (min-width: 600px) {
    
.form-container-box{
  width: 60%;
}

  }
  .form-container-box b{
    font-weight: lighter;
  }
  .form-container-box p:nth-child(1) img{
   margin: auto;
   width: 70%;
  }

.form-container-box b{
  color:black;
  font-weight: bold;
  font-size: 14px;

}

.items-container-fluid{
  display: inline-block;
    text-align: center;
    background-color: white;
    box-shadow:0px 16px 8px 0px rgba(0,0,0,0.4);
   width: 43%;
    padding: 5px 5px;
    margin-bottom: 15px;
    margin-top: 15px;
   /* overflow: hidden;*/
    margin-left: 7px;
    overflow: hidden;
  }
  .items-container-fluid a:link,a:visited{
    color: white;
  }
  .items-container-fluid-two{
   /* display: inline-block; */
   float: right;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    background-color: white;
    box-shadow:0px 16px 8px 0px rgba(0,0,0,0.4);
   width: 43%;
    padding: 5px 5px;
    margin-bottom: 15px;
    margin-top: 15px;
   /* overflow: hidden;*/
    margin-right: 7px;
  /*  margin-right: 20px;*/
  overflow: hidden;

  }


.items-container-fluid-two img{
  width: 140px;
  margin: auto;
  display: block;
  height: 140px;;

}

@media screen and (min-width: 600px){

  .items-container-fluid-two img{
     /*width: 390px;*/
   }
 }



  .items-container-fluid-two img{
  width: 140px;
  margin: auto;
  display: block;
  height: 140px;
  }
  .items-container-fluid-two b:nth-child(3){
    font-weight: bold;
    color: black;
  }
  .items-container-fluid-two b:nth-child(5){
    color: red;
    text-decoration: line-through;
  }
    
  .items-container-fluid-two b:nth-child(7){
    color: black;
    font-weight: bold;
  }
  
  .items-container-fluid-two b:nth-child(9){
    color: grey;
    font-weight: bold;
    font-style: italic;
  }
  
  .items-container-fluid-two b:nth-child(9) i{
    color: yellow;
  
  }
  
  .items-container-fluid-two p{
    background-color: rgb(0,102,100);
    color: white;
    text-align: center;
    padding: 8px 8px;
    margin: auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2rem;
    cursor: pointer;
    width: 90%;   
font-size: 15px;
  }
  
  .items-container-fluid-twoinput[type=submit]{
  
    background-color: rgb(0,102,100);
    color: white;
    text-align: center;
    padding: 10px 10px;
    margin: auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2rem;
    cursor: pointer;
    width: 90%;
  
  }
  .items-container-fluid-two a:link{
    text-decoration: none;
    color: white;
  }
  .items-container-fluid-two a:visited{
color: white;
  }






@media screen and (min-width: 600px){

 .items-container-fluid img{
    width: 390px;
  }
}


.items-container-fluid img{
width: 140px;
margin: auto;
display: block;
height: 140px;
}
.items-container-fluid b:nth-child(3){
  font-weight: bold;
  color: black;
}
.items-container-fluid b:nth-child(5){
  color: red;
  text-decoration: line-through;
}
  
.items-container-fluid b:nth-child(7){
  color: black;
  font-weight: bold;
}

.items-container-fluid b:nth-child(9){
  color: white;
  font-weight: bold;
  font-style: italic;
}

.items-container-fluid b:nth-child(9) i{
  color: yellow;

}

.items-container-fluid p{
  background-color: rgb(0,102,100);
  color: white;
  text-align: center;
  padding: 8px 8px;
  margin: auto;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2rem;
  cursor: pointer;
  width: 90%;
  
font-size: 15px;
}

.items-container-fluid input[type=submit]{
font-size: 15px;
  background-color: rgb(0,102,100);
  color: white;
  text-align: center;
  padding: 8px 8px;
  margin: auto;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2rem;
  cursor: pointer;
  width: 90%;

}
.items-container-fluid a:link{
  text-decoration: none;
  color: white;
}
.items-container-fluid a:visited{
color: white;
}
#backTO-top-btn{
  margin: auto;
  text-align: center;
  display: block;
  cursor: pointer;
}
 .error_message{
    text-align: center;
 }
 .comment a:link{
    text-decoration: none;
    color:white;
 }
 .comment a:visited{
    color: white;
 }